<h2>Show comments</h2>
<section class="section">
  <div class="container">
    <% @comments.each do |comment| %>
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title"><b>comment: </b><%= comment.text %></p>
              <%= link_to "Add a new comment of this comment", new_comment_comment_path(comment.id) %>
            </div>
          </div>
        </div>
      <br>
    <% end %>
    </div>
  </div>

  <%= simple_form_for([@article, @comment]) do |f| %>
    <div class="field">
      <div class="control">
        <%= f.input :text %>
        <%= f.button :submit, 'Create a new comment' %>
      </div>
    </div>
  <% end %>
  <br>
</section>